title {

}
body {
	font: 16px/18px bold verdana, sans-serif;
	width: 400px;
	margin: 30px auto;
}
form {
	background-color: lightgray;
	border: 1px solid #dddddd;
	width: 400px;
	padding: 15px;
	margin: 30px auto;
	
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 150px;
}
input {
	display: block;
}
input[type=submit] {
	margin: 20px 0 0 165px ;
	padding:5px 15px; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}
h2 {
	font: 20px/24px bold verdana, sans-serif;
	padding: 15px;
	width: 400px;
	margin: 30px auto;
}
button {
	background-color: lightblue;
	border-radius: 5px; 
	border:0 none;
	padding:5px; 
}
